.section_feedlist{
    height: calc(100vh - 236px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    }
.container{
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
      }
