.container {
    max-width: 1280px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 auto;
  }
  .main {
    display:block;
    align-items:center;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }