.constructor {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 236px);
    min-height:600px;

  }
  
.burger_item {
  /* overflow-y:auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%; */
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 500px;
  justify-items: center;
}

.list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  width: calc(100% - 8px);
  
}

.list li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container {
  margin-bottom: 52px;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.currency {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency svg {
  width: 32px;
  height: 32px;
}
.note {
  justify-self: center;
}